*{
    background-color: #B5CDE6;
    margin: 0px;
    text-align: center;
}

#title{
    background-color: #8D9FB3;
    font-family: Montserrat;
    font-size: 400%;
    text-align: center;
    padding-bottom: 10px;
}

a{ 
    text-decoration: none;
}

.subTitle{
    font-size: 100%;
}

#generateIdea{
    background-color: #8D9FB3;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    border-radius: 10px;
}

#generateIdea:hover{
    background-color: #788797;
}

#gameIdeaArea{
    /*background-color: #8D9FB3;*/
    font-size: 125%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.subjectArea{
    font-size: 100%;
}

body{
    font-family: Roboto Mono;
}

.grid-container{
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-row-gap: 100px;
    grid-template-columns: auto auto auto;
}

#nameTag{
    font-size: 25%;
    background-color: #8D9FB3;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

br{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
